body {
}



header {
    margin: 25px;
}
header img {
    height: 110px;
}
.parkImages{
    height: 300px;
    border-radius: 5px;
}
.listDescription{
    vertical-align: auto;
}
table{
    table-layout:fixed;
   width: 250px;
}
td{
    width: 150px;
}
.detailDescription{
    width: 1150px;
    text-align: left;
    padding-right: 1200px;
    
}
.weatherimgToday{
    width: 250px;
}
.weatherimg{
    width: 150px;
}
.formInputGroup{

    /*margin-left: auto;
    margin-right: auto;*/
}
.ourlabel{

    text-align:left;
}
.field {
    display: inline;
    padding-left: 50px;
    text-align: right;
}