@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>

<body>
    <div>
        <div class="container">

            <div class="container park image"></div>
            <div class="container park details"></div>
            <div class="container park name"></div>
        </div>

    </div>
</body>
</html>
