@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
@using Capstone.Web.Models;
@model List<Park>




<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
</head>

<body>

    <div>

        @foreach (Park item in Model)
        {
            string imageName = "../Content/img/" + item.ParkCode;

            <div class="list-group">
                <div class="list-group-item">
                    <a href="~/Home/Index/@item.ParkCode">
                <img class="listImage" src="@imageName" alt="Park"/>
                </a>
                </div>
            </div>


            <p>@item.ParkName</p>
            <p>@item.ParkDescription</p>
        }

    </div>
</body>
</html>
