@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
@using Capstone.Web.Models;
@model List<Park>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>

    <div>

        @foreach (Park item in Model)
        {
            string imageName = "../../Content/img/" + item.ParkCode + ".jpg";
            <div class="container">
                <div class="col-md-6">
                    <a href="~/Park/Detail/@item.ParkCode">
                        <img src="@imageName" alt="@item.ParkName" />
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="~/Park/Detail/@item.ParkCode">
                        <h4>@item.ParkName</h4>
                    </a>
                    <p>@item.ParkDescription</p>

                </div>
            </div>
            <br /> <br />
        }

    </div>
</body>
</html>
